<div class="col-md-3 col-sm-4 users-sidebar-wrapper">
    <!-- SIDEBAR -->
    <div class="users-sidebar tbssticky">
        <a href="user-dashboard.html" class="btn btn-block btn-primary add-listing-btn">New Ad listing</a>
        <ul class="list-group">
            <li class="list-group-item active"> <span class="badge">5</span> <a href="user-dashboard.html"><i class="fa fa-home"></i> Dashboard</a></li>
            <li class="list-group-item"> <span class="badge">5</span> <a href="user-dashboard-saved-searches.html"><i class="fa fa-folder-o"></i> Saved Searches</a></li>
            <li class="list-group-item"> <span class="badge">12</span> <a href="user-dashboard-saved-cars.html"><i class="fa fa-star-o"></i> Saved Cars</a></li>
            <li class="list-group-item"> <a href="add-listing-form.html"><i class="fa fa-plus-square-o"></i> Create new Ad</a></li>
            <li class="list-group-item"> <span class="badge">2</span> <a href="user-dashboard-manage-ads.html"><i class="fa fa-edit"></i> Manage Ads</a></li>
            <li class="list-group-item"> <a href="user-profile"><i class="fa fa-user"></i> My Profile</a></li>
            <li class="list-group-item"> <a href="user-dashboard-settings.html"><i class="fa fa-cog"></i> Account Settings</a></li>
            <li class="list-group-item"> <a href="javascript:void(0)"><i class="fa fa-sign-out"></i> Log Out</a></li>
        </ul>
    </div>
</div>