<div class="col-md-4">
    <section class="signup-form sm-margint">
        <form>
            <!-- Regular Signup -->
            <div class="regular-signup">
                <h3>Create an account</h3>
                <input type="text" class="form-control" placeholder="Name" [(ngModel)]="name" [ngModelOptions]="{standalone: true}">
                <input type="email" class="form-control" placeholder="Enter your email" [(ngModel)]="email" [ngModelOptions]="{standalone: true}">
                <input type="password" class="form-control password-input" placeholder="Type your password" [(ngModel)]="password" [ngModelOptions]="{standalone: true}"/>
                <input type="password" class="form-control password-input margin-5" placeholder="Confirm Password" [(ngModel)]="confirmPassword" [ngModelOptions]="{standalone: true}"/>
                <a href="javascript:void(0);" class="password-generate pass-actions"><i class="fa fa-refresh"></i></a>
                <div class="progress"><div class="progress-bar password-output" style="width: 0%"></div></div>
                <div class="clearfix spacer-20"></div>
                <label class="checkbox-inline"><input type="checkbox">By signing up, I agree to the <a href="#">terms &amp; conditions</a> and <a href="#">privacy policy</a></label>
                <div class="spacer-20"></div>
                <input type="submit" class="btn btn-primary btn-lg btn-block" value="Create account" (click)="registration(name, email, password, confirmPassword)">
            </div>
            <!-- Social Signup -->
            <div class="social-signup">
                <span class="or-break">or</span>
                <button type="button" class="btn btn-block btn-facebook btn-social"><i class="fa fa-facebook"></i> Signup with Facebook</button>
                <button type="button" class="btn btn-block btn-twitter btn-social"><i class="fa fa-twitter"></i> Signup with Twitter</button>
            </div>
        </form>
    </section>
</div>