<div class="col-md-4">
    <section class="signup-form sm-margint">
        <form method="post" name="registration" id="registration"
              (ngSubmit)="registration.form.valid && createUser(name, email, password, confirmPassword)" #registration="ngForm"
              novalidate>
            <!-- Regular Signup -->
            <div class="regular-signup">
                <h3>Create an account</h3>
                <div class="form-group" [ngClass]="{ 'has-error': registration.submitted && !registrationName.valid }">
                    <input type="text" id="name" name="name" class="form-control"  placeholder="Введите имя*" required
                           [(ngModel)]="name" #registrationName="ngModel">
                    <div *ngIf="registration.submitted && !registrationName.valid" class="help-block">Введите имя*</div>
                </div>
                <div class="form-group" [ngClass]="{ 'has-error': registration.submitted && !registrationEmail.valid }">
                    <input type="email" id="email" name="email" class="form-control"  placeholder="Введите email*" required
                           [(ngModel)]="email" #registrationEmail="ngModel">
                    <div *ngIf="registration.submitted && !registrationEmail.valid" class="help-block">Введите email*</div>
                </div>
                <div class="form-group" [ngClass]="{ 'has-error': registration.submitted && !registrationPassword.valid }">
                    <input type="password" id="password" name="password" class="form-control password-input"
                           placeholder="Введите пароль*" required [(ngModel)]="password" #registrationPassword="ngModel">
                    <div *ngIf="registration.submitted && !registrationPassword.valid" class="help-block">Введите пароль*</div>
                </div>
                <div class="form-group" [ngClass]="{ 'has-error': registration.submitted && !registrationConfirmPassword.valid }">
                    <input type="password" id="confirmPassword" name="confirmPassword" class="form-control password-input"
                           placeholder="Подтвердите пароль*" required [(ngModel)]="confirmPassword" #registrationConfirmPassword="ngModel">
                    <div *ngIf="registration.submitted && !registrationConfirmPassword.valid" class="help-block">Подтвердите пароль*</div>
                </div>
                <!--<div class="form-group" [ngClass]="{ 'has-error': registration.submitted && !registrationСonfirmPassword.valid }">-->
                    <!--<input type="password" id="confirmPassword" name="confirmPassword" class="form-control password-input"-->
                           <!--placeholder="Подтвердите пароль" required [(ngModel)]="confirmPassword" #registrationСonfirmPassword="ngModel">-->
                    <!--<div *ngIf="registration.submitted && !registrationСonfirmPassword.valid" class="help-block">Подтвердите пароль</div>-->
                <!--</div>-->
                <a href="javascript:void(0);" class="password-generate pass-actions"><i class="fa fa-refresh"></i></a>
                <div class="progress"><div class="progress-bar password-output" style="width: 0%"></div></div>
                <div class="clearfix spacer-20"></div>
                <label class="checkbox-inline"><input type="checkbox">By signing up, I agree to the <a href="#">terms &amp; conditions</a> and <a href="#">privacy policy</a></label>
                <div class="spacer-20"></div>
                <button type="submit" [disabled]="loading" class="btn btn-primary btn-lg btn-block">Зарегистрироваться</button>
            </div>
            <!-- Social Signup -->
            <div class="social-signup">
                <span class="or-break">or</span>
                <button type="button" class="btn btn-block btn-facebook btn-social"><i class="fa fa-facebook"></i> Signup with Facebook</button>
                <button type="button" class="btn btn-block btn-twitter btn-social"><i class="fa fa-twitter"></i> Signup with Twitter</button>
            </div>
        </form>
    </section>
</div>