<div class="col-md-9 results-container">
    <div class="results-container-in">
        <div class="waiting" style="display:none;">
            <div class="spinner">
                <div class="rect1"></div>
                <div class="rect2"></div>
                <div class="rect3"></div>
                <div class="rect4"></div>
                <div class="rect5"></div>
            </div>
        </div>
        <div id="results-holder" class="results-list-view">
            <!-- Result Item -->
            <div *ngFor="let value of goods" class="result-item format-standard">
            <div class="result-item-image">
                <a href="vehicle-details.html" class="media-box"><img src="http://placehold.it/600x400&amp;text=IMAGE+PLACEHOLDER" alt=""></a>
                <span class="label label-default vehicle-age">2014</span>
                <span class="label label-success premium-listing">Premium Listing</span>
                <div class="result-item-view-buttons">
                    <a href="{{value.video_link}}" data-rel="prettyPhoto"><i class="fa fa-play"></i> View video</a>
                    <a href="vehicle-details.html"><i class="fa fa-plus"></i> View details</a>
                </div>
            </div>
        <div class="result-item-in">
            <h4 class="result-item-title"><a href="vehicle-details.html">{{value.name}}</a></h4>
            <div class="result-item-cont">
                <div class="result-item-block col1">
                  <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla convallis egestas rhoncus. Donec facilisis fermentum sem, ac viverra ante luctus vel. Donec vel mauris quam..</p>
                </div>
            <div class="result-item-block col2">
                <div class="result-item-pricing">
                    <div class="price">{{value.price}}</div>
                </div>
                <div class="result-item-action-buttons">
                    <a href="#" class="btn btn-default btn-sm"><i class="fa fa-star-o"></i> Save</a>
                    <a href="vehicle-details.html" class="btn btn-default btn-sm">Enquire</a><br>
                    <a href="#" class="distance-calc"><i class="fa fa-map-marker"></i> Distance from me?</a>
                </div>
            </div>
            </div>
            <div class="result-item-features">
                <p>{{value.description}}</p>
            </div>
        </div>
        </div>
        </div>
    </div>
</div>