<div class="col-md-9 col-sm-8">
  <h2>My Alerts Settings</h2>
  <div class="dashboard-block">
    <div class="row">
      <div class="col-md-4">
        <div class="panel panel-info">
          <div class="panel-heading">
            <h3 class="panel-title">Saved Car Alerts</h3>
          </div>
          <div class="panel-body">
            <label class="checkbox-inline"><input type="checkbox" checked>Send me notification email when price changes or a special offer is available</label>
            <div class="spacer-10"></div>
            <label class="checkbox-inline"><input type="checkbox" checked>Send me notification email when the car has been sold</label>
          </div>
        </div>
      </div>
      <div class="col-md-4">
        <div class="panel panel-info">
          <div class="panel-heading">
            <h3 class="panel-title">Saved Searches Alerts</h3>
          </div>
          <div class="panel-body">
            <label class="checkbox-inline"><input type="checkbox" checked>Send me notification email when a vehicle gets available for my search</label>
          </div>
        </div>
      </div>
      <div class="col-md-4">
        <div class="panel panel-info">
          <div class="panel-heading">
            <h3 class="panel-title">Subscribe to our Newsletter</h3>
          </div>
          <div class="panel-body">
            <label class="checkbox-inline"><input type="checkbox" checked>Send me latest news and offers Newsletter</label>
            <p class="small">We send our latest offers and news every week to our verified users. </p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>