<div class="col-md-9 col-sm-8">
    <h2>Мой профиль</h2>
        <div class="dashboard-block">
            <div class="tabs profile-tabs">
                <ul class="nav nav-tabs">
                    <li class="active"><a data-toggle="tab" href="#personalinfo" aria-controls="personalinfo"
                                          role="tab">Personal
                        Info</a></li>
                    <li><a data-toggle="tab" href="#changepassword" aria-controls="changepassword" role="tab">Change
                        Password</a></li>
                </ul>
                <div class="tab-content">
                    <!-- PROFIE PERSONAL INFO -->
                    <div id="personalinfo" class="tab-pane fade active in">
                        <form method="post" name="form" id="form"
                              (ngSubmit)="q.form.valid && edit(name, email, phone)" #q="ngForm"
                              novalidate>
                            <div class="row">
                                <div class="col-md-8">
                                    <div class="row">
                                        <div class="col-md-6 form-group"
                                             [ngClass]="{ 'has-error': q.submitted && !name1.valid }">
                                            <label for="name">Имя*</label>
                                            <input type="text" id="name" class="form-control" name="name"
                                                   placeholder="Имя" required
                                                   [(ngModel)]="name" #name1="ngModel">
                                            <div *ngIf="q.submitted && !name1.valid" class="help-block">Введите имя</div>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-md-6 form-group"
                                             [ngClass]="{ 'has-error': q.submitted && !email1.valid }">
                                            <label for="email">Email*</label>
                                            <input type="text" id="email" name="email" class="form-control"
                                                   placeholder="Email"
                                                   required [(ngModel)]="email" #email1="ngModel">
                                            <div *ngIf="q.submitted && !email1.valid" class="help-block">Введите email
                                            </div>
                                        </div>
                                        <div class="col-md-6 form-group">
                                            <label for="phone">Phone</label>
                                            <input type="text" id="phone" name="phone" class="form-control"
                                                   placeholder="000-00-0000"
                                                   [(ngModel)]="phone">
                                        </div>
                                    </div>

                                    <h3>Security Question</h3>
                                    <div class="lighter"><p>Please choose a security question so we can better identify
                                        you
                                        if you forget your password, or in regard to your ad.</p></div>
                                    <label>Question</label>
                                    <select name="Security Questions" class="form-control selectpicker">
                                        <option selected>What is your maiden name?</option>
                                        <option selected>What is your pet's name?</option>
                                        <option selected>What is your first school name?</option>
                                        <option selected>What is your place of birth name?</option>
                                        <option selected>Who is your favourite actor?</option>
                                    </select>
                                    <label>Answer</label>
                                    <input type="password" class="form-control">
                                </div>
                            </div>
                            <button type="submit" [disabled]="loading" class="btn btn-info">Изменить</button>
                        </form>
                    </div>

                    <!-- PROFIE CHANGE PASSWORD -->
                    <div id="changepassword" class="tab-pane fade">
                        <form method="post" name="formNewPassword" id="formNewPassword"
                              (ngSubmit)="a.form.valid && editPassword(old_password, newPassword, confirmNewPassword)" #a="ngForm"
                              novalidate>
                            <div class="row">
                                <div class="col-md-8">
                                    <div class="row">
                                        <div class="col-md-6 form-group" [ngClass]="{ 'has-error': a.submitted && !password1.valid }">
                                            <label for="password">Введите старый пароль</label>
                                            <input type="password" id="password" name="password"
                                                   class="form-control" placeholder="Введите пароль" required [(ngModel)]="old_password" #password1="ngModel">
                                            <div *ngIf="a.submitted && !password1.valid" class="help-block">Введите старый пароль</div>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-md-6 form-group" [ngClass]="{ 'has-error': a.submitted && !newPassword1.valid }">
                                            <label for="newPassword">Введите новый пароль</label>
                                            <input type="password" id="newPassword" name="newPassword"
                                                   [(ngModel)]="newPassword" class="form-control" placeholder="Введите новый пароль" required #newPassword1="ngModel">
                                            <div *ngIf="a.submitted && !newPassword1.valid" class="help-block">Введите новый пароль</div>
                                        </div>
                                        <div class="col-md-6 form-group" [ngClass]="{ 'has-error': a.submitted && !confirmNewPassword1.valid }">
                                            <label for="confirmNewPassword">Подтвердите пароль</label>
                                            <input type="password" id="confirmNewPassword" name="confirmNewPassword"
                                                   [(ngModel)]="confirmNewPassword" class="form-control" placeholder="Подтвердите пароль" required #confirmNewPassword1="ngModel">
                                            <div *ngIf="a.submitted && !confirmNewPassword1.valid" class="help-block">Подтвердите пароль</div>
                                        </div>
                                    </div>
                                    <div>
                                        <button type="submit" [disabled]="loading" class="btn btn-info">Изменить
                                        </button>
                                    </div>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>


            </div>
        </div>
</div>