<div class="col-md-9 col-sm-8">
    <h2>My Profile</h2>
    <div *ngFor="let value of users">
        <div class="dashboard-block">
            <div class="tabs profile-tabs">
                <ul class="nav nav-tabs">
                    <li class="active"><a data-toggle="tab" href="#personalinfo" aria-controls="personalinfo"
                                          role="tab">Personal
                        Info</a></li>
                    <li><a data-toggle="tab" href="#changepassword" aria-controls="changepassword" role="tab">Change
                        Password</a></li>
                </ul>
                <form>
                    <div class="tab-content">
                        <!-- PROFIE PERSONAL INFO -->

                        <div id="personalinfo" class="tab-pane fade active in">
                            <div class="row">
                                <div class="col-md-8">
                                    <div class="row">
                                        <div class="col-md-6">
                                            <label>First name*</label>
                                            <input type="text" class="form-control" placeholder="" required
                                                   [(ngModel)]="value.name" [ngModelOptions]="{standalone: true}">
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-md-6">
                                            <label>Email*</label>
                                            <input type="text" class="form-control" placeholder="mail@example.com"
                                                   required [(ngModel)]="value.email"
                                                   [ngModelOptions]="{standalone: true}">
                                        </div>
                                        <div class="col-md-6">
                                            <label>Phone</label>
                                            <input type="text" class="form-control" placeholder="000-00-0000"
                                                   [(ngModel)]="value.phone" [ngModelOptions]="{standalone: true}">
                                        </div>
                                    </div>

                                    <h3>Security Question</h3>
                                    <div class="lighter"><p>Please choose a security question so we can better identify
                                        you
                                        if you forget your password, or in regard to your ad.</p></div>
                                    <label>Question</label>
                                    <select name="Security Questions" class="form-control selectpicker">
                                        <option selected>What is your maiden name?</option>
                                        <option selected>What is your pet's name?</option>
                                        <option selected>What is your first school name?</option>
                                        <option selected>What is your place of birth name?</option>
                                        <option selected>Who is your favourite actor?</option>
                                    </select>
                                    <label>Answer</label>
                                    <input type="password" class="form-control">

                                </div>
                            </div>
                        </div>

                        <!-- PROFIE CHANGE PASSWORD -->
                        <div id="changepassword" class="tab-pane fade">
                            <div class="row">
                                <div class="col-md-8">
                                    <div class="row">
                                        <div class="col-md-6">
                                            <label>Old Password</label>
                                            <input type="password" class="form-control" placeholder="">
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-md-6">
                                            <label>New password</label>
                                            <input type="password" class="form-control" placeholder="">
                                        </div>
                                        <div class="col-md-6">
                                            <label>Confirm new password</label>
                                            <input type="password" class="form-control" placeholder="">
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <button type="submit" class="btn btn-info" (click)="updateProfile(value.id, value.name, value.email, value.phone)">Update details</button>
                </form>
            </div>
        </div>
    </div>
</div>